.wrapper {
  @apply relative flex items-center bg-secondary rounded-xl py-2.5 px-5 w-full shadow-md;
}

.select {
  border: 1px solid #3f485f;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%237750f8'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7' /%3E%3C/svg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 1rem auto, 100%;
  transition: all 0.8s ease-in-out;
  @apply relative w-full bg-secondary py-2.5 px-5 rounded-xl focus:ring-0 ring-0 focus:outline-none;
}

.select .option {
  @apply p-4 bg-secondary;
}

.icon {
  @apply flex items-center justify-center mr-2;
}

.input {
  @apply w-full border-0 focus:ring-0 ring-0 outline-none bg-transparent placeholder:text-gray-100;
}

.label {
  @apply ml-5;
}

.error {
  @apply border border-red-600 !important;
}
